HTTP_PORT=3000
HTTPS_PORT=8000

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=database_user
DB_PASS=database_password

JWT_SECRET=jwt_secrete-phrase

ETHEREAL_USER=ethereal_user
ETHEREAL_PASSWORD=ethereal_password

SMTP_HOST=smtp.host.com
SMTP_USER=user@hot.com
SMTP_PASSWORD=super_secret_smtp_password
