| Hey #{name},
| You recently registered for an Express Sequelize API user account. Please use the below token to confirm our email address. This token is only valid for the next 24 hours.
|
| Token: #{token}: 
|
| If you did not register an account, please ignore this email or contact support if you have questions.
|
| Thanks,
| The Express Sequelize API Team
